  <template name="download">

<div id="loginErrormessage" class="alert alert-danger" role="alert" style="display:none; margin-top:50px">..sdfsdfsdf sfsd fsd fsd fsd fs fs .</div>

    <div class="container" style="padding-top:10%">
      <h1 class="cover-heading">What the Link ?</h1>


      

      <form>
        <div class="row">
          <div class="form-group col-md-8 col-md-offset-2">
           <input type="text" class="form-control" id="url" placeholder="http://xyz.com/download.tar.gz">
         </div>
       </div>

       <input type="submit" class="btn btn-default submit" value="Start Download">
     </form>



   </div>


  </template>